/*general configuration */
h1,h2,h3,h4,h5,h6,li,label{
    font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
}
li{
    list-style: none;
}
header{
    height: 150px;
    width: auto;
    align-items: center;
    background: rgb(139,32,7);
    background: linear-gradient(90deg, rgba(139,32,7,1) 27%, rgba(253,42,29,0.7326330190279237) 46%, rgba(11,105,28,1) 70%); 
    color:#f8f8f8;
    display:flex;
}
.flex-lesson  div h1{
    width: 500px;
    text-align: center;
    text-shadow: 2px 2px green;
}
.first-logo img{
    width: 100px;
    height: 100px;
    padding: 10%;
    
    }
.cart{
    padding: 8%;
}
.cart > img{
    border-radius: 80%;
    width: 50px;
    height: 50px;
    padding: 40%;
        }
.lista menu{
    display: flex;
    padding: 5%;
    width:100px;
    
    
}
.lista menu li{
    padding: 10%;
    list-style:none;
    text-align: center;  
    margin: 3%;
    text-shadow: 2px 1px black;
        }
.menu{
    display: flex;
    background: rgb(10,98,47);
    background: linear-gradient(180deg, rgba(10,98,47,1) 36%, rgba(156,29,29,1) 77%); 
    color: #f8f8f8;
   
}
.menu div{
    padding: 5%;
    
}
.menu, div, img{
    height: auto;
    width: 100%;
}
.form div img{
    width: 100%;
    height: 100%;
 
}

.form{
    display: flex;
   
}
.form2{
    padding: 2%;
    text-align: center;
    background-color: black;
    color: #f8f8f8;
    font-size: 1.2em;
}
/*footer style */

footer{
    background: rgb(43,34,6);
    background: linear-gradient(0deg, rgba(43,34,6,1) 0%, rgba(248,27,33,1) 100%); 
    color:#f8f8f8;
    display: flex;
    width: 100%;
    height: 350px;
}
footer section{
    width: 100%;
    padding: 3%;
}
.lista menu li a{
    text-decoration: none;
    color:#f8f8f8;
   }
footer section a img{
    width: 30%;
}
.last h3{
    font-size: 0.7em;
}
/*adding hover */
.lista menu li:hover{
    color: red;
    cursor: pointer;
    background-color:lightgreen;
    text-shadow: none;

}
span{
    color:black;
}
footer section menu li:hover{
    color:green;
    cursor: pointer;
    text-shadow: 2px 2px black;
}
#foot img:hover{
    cursor: pointer;
    border-style: ridge;
    border-color: green;
    border-width: 0.3em;
}


/*Responsive */
@media screen and (max-width: 1024px){
header div h1{
    font-size: 1.5em;
    padding: 0%;
}
.lista menu{
    padding: 0%;
}
menu li{
    font-size: 1.0em;
    
}
.flex-lesson  div h1{
    width: 300px;
    text-align: center;
}
.cart{
    padding: 10%;
}
.menu div a img{
    width: 90%;
}
.menu div{
    padding: 4%;
}
.form2 form h3{
    font-size: 1.0em;
}
}
/*adding responsive 769px */
@media screen and (max-width: 768px){

header div h1{
    font-size: 1.0em;
        }
.first-logo img{
    width: 40%;
    height: auto;
}
menu li{
    font-size: 0.8em;
       
}
.lista menu{
    display: block;
    font-size: 0.9em;
    padding: 15%;
}
.menu div a img{
    width: 90%;
}
.menu div{
    padding: 5%;
    
}
.menu div h4{
    font-size: 0.8em;  
}
.menu div label{
    font-size: 0.6em;  
}
.menu div form input{
width: 40%;
}
.form2 form h3{
    font-size: 0.9em;  
}
.form2 form label{
    font-size: 0.7em;  
}
footer section menu{
    width: 50%;
    padding: 8%;
}
footer section menu li{
    font-size: 0.7em;
}
.last h4{
    font-size: 0.7em;
}
}   
/*adding responsive 620px */
@media screen and (max-width: 620px){
.first-logo img{
padding: 30%;
width: 70%;
}
header div h1{
    font-size: 1.0em;
    
}
.lista menu li{
    font-size: 0.8em;
    padding: 5%;
}
.cart img{
    padding: 8%;
    height: auto;
    width: 50%;
}
.menu{
    display: block;
    width: 100%;
    text-align: center;
}
.menu div a img{
    width: 50%;
}
.menu div form input{
    width: 10%;
    }

.form2 {
    background-color: green;
    width: 300%;
}
.form2 form h3{
    font-size: 0.7em;  
}
.form2 form label{
    font-size: 0.5em; 
}
footer {
    display: block;
    height: 200vh;
}
footer section{
    text-align: center;   
}
footer section menu{
    padding: 0%;
    width: 100%;
}
#foot img{
    width: 10%;
}
}