/*General configuration*/

h1,h2,h3,h4,h5,h6,li{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
li{
    list-style: none;
}
.first-logo img{
    width: 100px;
    height: 100px;
    padding: 20%;
    
    }

.flex-lesson  div h1{
    width: 500px;
    text-align: center;
    text-shadow: 2px 2px green;
}
.cart > img{
    border-radius: 80%;
    width: 50px;
    height: 50px;
    padding: 60%;
    }
.lista menu{
    display: flex;
    padding: 5%;
    width:100px;
    
}
.lista menu li{
    padding: 10%;
    list-style:none;
    text-align: center;  
    margin: 3%;
    text-shadow: 2px 1px black;
}
.order{
    width: auto;
    height: 100vh;
    background-image: url("../IMG/vegetarian-pizza_4988.jpg");
    background-size: cover; 
}
.order div{
    width: 100%;
    height: 10%;
    padding: 2%;
    text-align: center;
    
}
.order div h2{
    color: yellow;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    padding: 1%;
   text-shadow: 1px 2px red;
  
}
/* setup grid layout*/
body{
display: grid;
grid-template-areas: 
'header header header'
'main main aside'
'footer footer footer';
}

.logo{
 width: 40%;
 height: auto;
}

.Menu div {
    width: 400%;
    padding: 5%; 
   
}
.Menu div h2{
    text-align: center;
   
}
.Menu div a img{
    padding: 5%;
    width: 80%;
    border-radius: 80%;
}

header{
    grid-area: header;
    height: 150px;
    width: auto;
    align-items: center;
    background: rgb(139,32,7);
    background: linear-gradient(90deg, rgba(139,32,7,1) 27%, rgba(253,42,29,0.7326330190279237) 46%, rgba(11,105,28,1) 70%); 
    color:#f8f8f8;
    display:flex;
}
main{
    grid-area:main;
    background-color: black;

}
aside{
    grid-area: aside;
    background: rgb(153,210,67);
    background: linear-gradient(90deg, rgba(153,210,67,1) 38%, rgba(36,161,15,1) 100%); 

}
.side  article{
    text-align: center;
    padding-top: 10%;
}
.side article img{
    width: 60%;
    height: auto;
}
.side  article h3{
    padding: 6%;
    text-align: center;
    color: #f8f8f8;
}
footer{
    grid-area: footer;
}
.Menu{
    color: #f8f8f8;
    background: rgb(45,36,9);
    background: linear-gradient(90deg, rgba(45,36,9,1) 36%, rgba(208,22,22,1) 77%); 
    display: flex;
    
}

.item1,.item2{
    color: #f8f8f8;
}

.item1, div, a, img{
    height: auto;
    width: 60%;

}
.item1{
    display: flex;
    width: 100%;
    
}
.item1 div{
    padding: 5%;
    width: 500%;
    height: auto;   
    
}
.item2{
    display: flex;
    width: 100%;
    padding: 8%;
  
}
footer{
    background: rgb(43,34,6);
    background: linear-gradient(0deg, rgba(43,34,6,1) 0%, rgba(248,27,33,1) 100%); 
    color:#f8f8f8;
    display: flex;
    width: 100%;
    height: 450px;
}
.imag1{
height: auto;
width: 80%;

}
.imag2{
    height: auto;
    width: 80%;
    
    }
.footer section{
 width: 100%;
}
.footer section menu{
list-style: none;
padding: 30%;
width: 100%;

}
.footer > section > menu > li{
width: 100%;
padding: 3%;

}
.last{
width: 100%;
padding: 5%;
}
#foot{
    padding: 3%;
}
#foot a img{
    width: 30%;
    height: auto;
    text-align: center;
}
.footer h3{
    font-size: 0.8em;
}
.button{
    background-color:red;
    color: #f8f8f8;
    padding: 1.3%;
    border-style: ridge;
    border-color: green;
    border-width: 0.3em;
    text-decoration: none;

}
/*adding hover */
.button:hover{
    background-color:yellow;
    color: black;
    border-style: ridge;
    border-color: red;
    border-width: 0.3em;

}
.lista menu li:hover{
    color: red;
    cursor: pointer;
    background-color:lightgreen;
    text-shadow: none;
}

aside article h2:hover{
    background-color: black;
    color:green;
    cursor: pointer;
    
}
aside article img:hover{
    cursor: pointer;
    border-style: ridge;
    border-color: green;
    border-width: 0.5em;
}
footer section menu li:hover{
    color:green;
    cursor: pointer;
    text-shadow: 2px 2px black;
}
#foot img:hover{
    cursor: pointer;
    border-style: ridge;
    border-color: green;
    border-width: 0.3em;
}

.cart img:hover{
    cursor: pointer;
   
}
.item1 div a img:hover{
    cursor: pointer;
    border-style: ridge;
    border-color: red;
    border-width: 0.5em
}
.item2 div a img:hover{
    cursor: pointer;
    border-style: ridge;
    border-color: red;
    border-width: 0.5em
}
span{
    color:black;
}
.title1,.title2, .title3, .title4{
    color: red;
    text-decoration: underline;
    font-size: 1.2em;
}
/*adding responsive 1024 */

@media screen and (max-width: 1024px){
header div h1{
    font-size: 1.5em;
    
}
.lista menu li{
    font-size: 0.8em;
    padding: 2%;
    width: auto;
}

}
/*adding responsive 768px */
@media screen and (max-width: 768px){

.lista menu{
 display: block;
 font-size: 1.1em;
 padding: 13%;
}

.flex-lesson  div h1{
    width: 300px;
    text-align: center;
    font-size: 1.0em;
    
}
.cart img{
    padding: 10%;

}
footer section{
   padding: 3%;

}
footer section menu{
    width: 100%;
}
main section{
    text-align: center;
}
.item1 div menu li{
    
    font-size: 0.8em;
    
}
.item2 div menu{
   font-size: 0.8em;
    width:50% ;
}
.item2 div a img{
   width:70% ;
   padding: 0%;

 }
.item2 div{
    width: 100%;
    padding-right: 9%;
    
}
}
/*adding responsive 620px */
@media screen and (max-width: 620px){

.lista menu{
    display: block;
    font-size: 1.0em;
    padding: 8%;

    }
.flex-lesson  div h1{
        width: 200px;
        text-align: center;
        font-size: 1.0em;
    }
.cart img{
    padding: 0%;
}
.first-logo img{
    width: 50%;
    height: auto;
    padding: 8%;
}
.cart img{
    padding: 10%;

}

.Menu{
    display: block;
    
}
.Menu div{
    width:90%;
    padding: 5%; 
    text-align: center;
}
.Menu div h2{
    font-size: 0.8em; 
    text-align: center;
}
    
.Menu div a img{
    padding: 0%;
    width: 40%;
    border-radius: 80%;
}

main section{
    text-align: center;
    display: block;
    }


.item1 a img{
    width: 100%;
    height: auto;
    
        
    }
.item1{
    text-align: center;
   
  
    }
.item2{
    display: block;
    color: #f8f8f8;
    text-align: center;
    padding: 20%;
   }
.item2 a img{
    width: 40%;
    height: auto;
    display: block;
       
}
footer{
    display: block;
    height: 300vh;
    }
footer section{
    text-align: center;
    padding: 0%;
    
}
.footer section menu{
    padding: 0;
    width: 100%;
        
    }
.side article h2{
    font-size: 0.8em;
}
.last h4{
    font-size: 0.8em;
    width: 50%;

}
#foot{
    text-align: center;
    padding: 5%;
    width: auto;
}
.last h4{
    width: auto;
    color: #f8f8f8;
}
#foot a img{
    width: 10%;
    height: auto;
    
}

}
